= form_for(@receipt, html: { class: "form-horizontal", role: "form" }) do |f|
  - if @receipt.errors.any?
    .alert.alert-danger.alert-dismissable{:role => "alert"}
      %button.close{"data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      %h4
        = pluralize(@receipt.errors.count, "error")
        prohibited this receipt from being saved:
      %ul
        - @receipt.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :shopping_date, class: "col-sm-2 control-label"
    .col-sm-10
      = f.date_select :shopping_date, class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
